<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redirecting, please wait...</title>
</head>
<body>
    <p id="message">Processing...</p>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const query = new URLSearchParams(window.location.search);
            const result = query.get('result');

            if (query.has('ref') && ('cancel' === result || 'success' === result)) {
                const bc = new BroadcastChannel(query.get('ref'));
                bc.postMessage(`checkout ${result}`);
            }

            window.close();

            // fallback in case window could not be closed by the script
            document.getElementById('message').innerText = 'Thank you! You can now close this window.';
        })
    </script>
</body>
</html>
